<html>
    <head>
        <title>{% block title %}主站{% end %}——歌的词</title>
        <meta name="baidu-site-verification" content="sUDYJoi7V0" />
	<meta name="description" content="歌的词，不只能看歌词，查歌词，还能自己创建歌词，评论歌词!" />
  <meta name="Keywords" content="歌词,发表歌词,求歌词,悬赏歌词" />
    <script type="text/javascript" src="{{ static_url("jquery-1.11.1.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link href="{{ static_url("lrc.css") }}" rel="stylesheet">
        {% block header %}{% end %}
    </head>
    <body>
    <div class="search" id="search">
        <form action="/lrcsearch" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜一下吧"  name="s">
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="找找歌词">
              </span>
            </div>
        </form>
    </div>
    <div>
        {% if current_user %}
        <a href="/logout">退出</a>
        {% else %}
        <a href="/login">登录</a>
        {% end %}
    </div>
     {% block body %}
     {% end %}
    </body>
</html>
