<html>
    <head>
        <title>{% block title %}主站{% end %}——歌的词</title>
        <meta name="baidu-site-verification" content="sUDYJoi7V0" />
    <script type="text/javascript" src="{{ static_url("jquery-1.11.1.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link href="{{ static_url("lrc.css") }}" rel="stylesheet">
        {% block header %}{% end %}
    </head>
    <body>
    <div class="search" id="search">
        <form action="/lrcsearch" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="搜一下吧"  name="s">
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="找找歌词">
              </span>
            </div>
        </form>
    </div>
     {% block body %}
     {% end %}
    </body>
</html>
