.jumbotron{
  padding-top:    @jumbotron-padding;
  padding-bottom: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  color: @jumbotron-color;
  background-color: @jumbotron-bg;

  h1,
  .h1 {
    color: @jumbotron-heading-color;
  }

  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container &,
  .container-fluid & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
    padding-left:  (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding * 1.6);

    .container &,
    .container-fluid & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: @jumbotron-heading-font-size;
    }
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
.addcomment{
  position: relative;
}
.addcomment .needlog{
  position: absolute;
  top: 15px;
  left: 30%;
  right: 30%;
  bottom: 15px;
  display: flex;
  background: rgba(0,0,0,0.1);
}
.addcomment .needlog>a{
  flex: 1;
  text-align: center;
  color: #000;
  line-height: 56px;
}
.addcomment .needlog>a:first-child{
  border-right:3px solid #fff;
}
.addcomment textarea{  
    display: block;
    width: 95%;
    margin: 0px auto;
}
.addcomment input[type='submit']  {
  float: right;
    margin: 10px 2.5% 30px;
}
.search-list>div>p{
  margin: 0px;
  padding: 0px 30px;
  line-height: 45px;
}
.search-list>div>p a{
  display: inline-block;
  float: right;
  color:#4aa9c5;
  letter-spacing: 0.5em;
}
body h2{
  text-align: center;
    line-height: 80px;
}
.searchwrap{
  margin: 0px 15%;
}

.search-list div:nth-child(2n) p{
  background-color:rgba(0,0,0,0.05);
}
.search-list div:nth-child(2n+1) p{
  background-color:rgba(0,0,0,0.1);
}
.serch{
  margin: 0px 15%;
}





